/* styleset for 404 page */

/* I used Amit Sheen idea in this code
    https://css-tricks.com/how-to-map-mouse-position-in-css/ */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #333;
    /* cursor: none; */
}

/* main {
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr);
    height: 100vh;
    margin: 0;
    padding: 0;
} */

.cell {
    border: 0px solid gray;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/* .cell:nth-child(15n+1):hover ~ .content {
    --positionX: 0;
}

.cell:nth-child(n+1):nth-child(-n+15):hover ~ .content {
    --positionY: 0;
}

.cell:nth-child(15n+2):hover ~ .content {
    --positionX: 1;
}

.cell:nth-child(n+16):nth-child(-n+30):hover ~ .content {
    --positionY: 1;
}

.cell:nth-child(15n+3):hover ~ .content {
    --positionX: 2;
}

.cell:nth-child(n+31):nth-child(-n+45):hover ~ .content {
    --positionY: 2;
}

.cell:nth-child(15n+4):hover ~ .content {
    --positionX: 3;
}

.cell:nth-child(n+46):nth-child(-n+60):hover ~ .content {
    --positionY: 3;
}

.cell:nth-child(15n+5):hover ~ .content {
    --positionX: 4;
}

.cell:nth-child(n+61):nth-child(-n+75):hover ~ .content {
    --positionY: 4;
}

.cell:nth-child(15n+6):hover ~ .content {
    --positionX: 5;
}

.cell:nth-child(n+76):nth-child(-n+90):hover ~ .content {
    --positionY: 5;
}

.cell:nth-child(15n+7):hover ~ .content {
    --positionX: 6;
}

.cell:nth-child(n+91):nth-child(-n+105):hover ~ .content {
    --positionY: 6;
}

.cell:nth-child(15n+8):hover ~ .content {
    --positionX: 7;
}

.cell:nth-child(n+106):nth-child(-n+120):hover ~ .content {
    --positionY: 7;
}

.cell:nth-child(15n+9):hover ~ .content {
    --positionX: 8;
}

.cell:nth-child(n+121):nth-child(-n+135):hover ~ .content {
    --positionY: 8;
}

.cell:nth-child(15n+10):hover ~ .content {
    --positionX: 9;
}

.cell:nth-child(n+136):nth-child(-n+150):hover ~ .content {
    --positionY: 9;
}

.cell:nth-child(15n+11):hover ~ .content {
    --positionX: 10;
}

.cell:nth-child(n+151):nth-child(-n+165):hover ~ .content {
    --positionY: 10;
}

.cell:nth-child(15n+12):hover ~ .content {
    --positionX: 11;
}

.cell:nth-child(n+166):nth-child(-n+180):hover ~ .content {
    --positionY: 11;
}

.cell:nth-child(15n+13):hover ~ .content {
    --positionX: 12;
}

.cell:nth-child(n+181):nth-child(-n+195):hover ~ .content {
    --positionY: 12;
}

.cell:nth-child(15n+14):hover ~ .content {
    --positionX: 13;
}

.cell:nth-child(n+196):nth-child(-n+210):hover ~ .content {
    --positionY: 13;
}

.cell:nth-child(15n+15):hover ~ .content {
    --positionX: 14;
}

.cell:nth-child(n+211):nth-child(-n+225):hover ~ .content {
    --positionY: 14;
} */

.content {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    row-gap: 50px;
    top: 0;
}

main .overlay {
    background: #111;
    bottom: 0;
    filter: blur(2px);
    left: 0;
    opacity: .99;
    position: absolute;
    right: 0;
    top: 0;
}

/* main:hover .overlay {
    --X: calc(var(--positionX) * 100%/15 + 100%/15/2);
    --Y: calc(var(--positionY) * 100%/15 + 100%/15/2);

    background: radial-gradient(circle at var(--X) var(--Y), rgb(245, 245, 245, .1) 40px, rgb(51, 51, 51, .9) 70px, #111 80px);
}
 */
.plate {
    background: #333;
    height: 100px;
    position: relative;
    width: 180px;
}

.content span {
    color: lightgray;
    filter: drop-shadow(0 0 1px whitesmoke);
    font-family: sans-serif;
    font-size: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.plate span {
    left: 50%;
    top: 50%;
}

.button {
    background: green;
    height: 80px;
    position: relative;
    width: 200px;
}

.button span {
    font-size: 50px;
}